@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	height: 100%;
	margin-top:6px;
}

::selection {
	background: theme('colors.red.400');
}
button, a.bg-blue-300 {
display:none;
}
.py-10, .pt-10 {
padding-top:0;
}
.p-1 {
padding:0;
}
.mb-3 {
margin-bottom:2px;
}
.mr-3 {
    font-size: .8em;
    font-style: normal;
}

